<form class="form-inline mb-4" action="/owners/search" method="get" autocomplete="off">
  <input type="search" class="form-control w-75" name="searchTerm" placeholder="Search owner"
    value="<%= locals.search %>">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>